/* Color Theme Swatches in Hex */
$Coral-Teal-Gray-1-hex: #FF5F5D;
$Coral-Teal-Gray-2-hex: #3F7C85;
$Coral-Teal-Gray-3-hex: #00CCBF;
$Coral-Teal-Gray-4-hex: #72F2EB;
$Coral-Teal-Gray-5-hex: #747E7E;

/* Color Theme Swatches in Hex */
$orange--teal-1-hex: #025259;
$orange--teal-2-hex: #007172;
$orange--teal-3-hex: #F29325;
$orange--teal-4-hex: #D94F04;
$orange--teal-5-hex: #F4E2DE;

/* Color Theme Swatches in Hex */
$Paleta-da-Marca-1-hex: #5D5CAD;
$Paleta-da-Marca-2-hex: #7A78FA;
$Paleta-da-Marca-3-hex: #EEFA6B;
$Paleta-da-Marca-4-hex: #AD3998;
$Paleta-da-Marca-5-hex: #FA5FDD;







